@charset "utf-8";
body {
    background-color: #0f0f0f;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #181818;
    padding: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.filter {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.filter-button {
    background-color: #222;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.filter-button:hover {
    background-color: #444;
}

.search {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-box {
    padding: 10px;
    width: 300px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #222;
    color: white;
} 

.market-table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}

.market-table th, .market-table td {
    padding: 12px;
    border-bottom: 1px solid #333;
    text-align: left;
}

.market-table th {
    background-color: #222;
}

.btn-trade {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}


.negative {
	color: red
}

.positive {
	color:#00FB42
}
